## Splitting Dataset : Test & Train

In [1]:
import pandas as pd
import numpy as np

In [7]:
data = {
    "massa" : np.arange(101),
    "harga" : np.arange(101)
}
df = pd.DataFrame(data)
df

     massa  harga
0        0      0
1        1      1
2        2      2
3        3      3
4        4      4
..     ...    ...
96      96     96
97      97     97
98      98     98
99      99     99
100    100    100

[101 rows x 2 columns]

### _Manual Splitting (80% train & 20% test)_

In [8]:
dataTrain = df.iloc[:81]
dataTest = df.iloc[81:]

In [9]:
dataTrain.tail()

    massa  harga
76     76     76
77     77     77
78     78     78
79     79     79
80     80     80

In [10]:
dataTest.head()

    massa  harga
81     81     81
82     82     82
83     83     83
84     84     84
85     85     85

In [53]:
massaTrain = dataTrain["massa"]
hargaTrain = dataTrain["harga"]
massaTest = dataTest["massa"]
hargaTest = dataTest["harga"]

dfMassaTR = pd.DataFrame(massaTrain)
dfMassaTS = pd.DataFrame(massaTest)
dfHargaTR = pd.DataFrame(hargaTrain)
dfHargaTS = pd.DataFrame(hargaTest)

In [54]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(
    dfMassaTR[["massa"]], dfHargaTR["harga"])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
model.coef_

array([1.])

In [56]:
model.intercept_

-7.105427357601002e-15

__Model yang didapat dari dataset training digunakan untuk prediksi massa test__

In [58]:
dfHargaTS["hargaPrediksi"] = model.predict(dfMassaTS[["massa"]])
dfHargaTS

     harga  hargaPrediksi
81      81           81.0
82      82           82.0
83      83           83.0
84      84           84.0
85      85           85.0
86      86           86.0
87      87           87.0
88      88           88.0
89      89           89.0
90      90           90.0
91      91           91.0
92      92           92.0
93      93           93.0
94      94           94.0
95      95           95.0
96      96           96.0
97      97           97.0
98      98           98.0
99      99           99.0
100    100          100.0

### _Splitting with Sklearn_

In [30]:
from sklearn.model_selection import train_test_split

In [59]:
xtr, xts, ytr, yts = train_test_split(df[["massa"]], df["harga"])

xtr, xts, ytr, yts = train_test_split(df[["massa"]], df["harga"], test_size = 15) </br>
test_size untuk menentukan persentase data yang akan dites

In [60]:
xtr

    massa
61     61
87     87
85     85
45     45
53     53
..    ...
25     25
37     37
26     26
68     68
48     48

[75 rows x 1 columns]

In [61]:
xts

    massa
82     82
31     31
97     97
42     42
0       0
52     52
89     89
93     93
73     73
24     24
22     22
84     84
15     15
49     49
78     78
19     19
23     23
60     60
3       3
11     11
96     96
55     55
92     92
46     46
7       7
59     59

In [62]:
ytr

61    61
87    87
85    85
45    45
53    53
      ..
25    25
37    37
26    26
68    68
48    48
Name: harga, Length: 75, dtype: int64

In [63]:
yts

82    82
31    31
97    97
42    42
0      0
52    52
89    89
93    93
73    73
24    24
22    22
84    84
15    15
49    49
78    78
19    19
23    23
60    60
3      3
11    11
96    96
55    55
92    92
46    46
7      7
59    59
Name: harga, dtype: int64

In [64]:
model = LinearRegression()
model.fit(xtr, ytr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [66]:
print(model.predict(xts))
print(yts)

[8.20000000e+01 3.10000000e+01 9.70000000e+01 4.20000000e+01
 1.42108547e-14 5.20000000e+01 8.90000000e+01 9.30000000e+01
 7.30000000e+01 2.40000000e+01 2.20000000e+01 8.40000000e+01
 1.50000000e+01 4.90000000e+01 7.80000000e+01 1.90000000e+01
 2.30000000e+01 6.00000000e+01 3.00000000e+00 1.10000000e+01
 9.60000000e+01 5.50000000e+01 9.20000000e+01 4.60000000e+01
 7.00000000e+00 5.90000000e+01]
82    82
31    31
97    97
42    42
0      0
52    52
89    89
93    93
73    73
24    24
22    22
84    84
15    15
49    49
78    78
19    19
23    23
60    60
3      3
11    11
96    96
55    55
92    92
46    46
7      7
59    59
Name: harga, dtype: int64

__Cek akurasi data__

In [67]:
model.score(xts, yts)

1.0