In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame([
    {"sarjana": 1, "sehat": 1, "supel": 1, "diterima":1},
    {"sarjana": 1, "sehat": 0, "supel": 0, "diterima":1},
    {"sarjana": 0, "sehat": 1, "supel": 1, "diterima":0},
    {"sarjana": 0, "sehat": 0, "supel": 1, "diterima":0},
    {"sarjana": 0, "sehat": 0, "supel": 1, "diterima":0},
])
df

   sarjana  sehat  supel  diterima
0        1      1      1         1
1        1      0      0         1
2        0      1      1         0
3        0      0      1         0
4        0      0      1         0