In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [22]:
data = {
    "x" : np.arange(1,21),
    "y" : np.array([
        "Sarah", "Sarah", "Sarah", "Sarah", "Sarah", 
        "Sarah", "Zaenab", "Sarah", "Zaenab", "Zaenab", 
        "Sarah", "Sarah", "Zaenab", "Sarah", "Zaenab", 
        "Zaenab", "Zaenab", "Zaenab", "Zaenab", "Zaenab", 
    ])
}
df = pd.DataFrame(data)
df

     x       y
0    1   Sarah
1    2   Sarah
2    3   Sarah
3    4   Sarah
4    5   Sarah
5    6   Sarah
6    7  Zaenab
7    8   Sarah
8    9  Zaenab
9   10  Zaenab
10  11   Sarah
11  12   Sarah
12  13  Zaenab
13  14   Sarah
14  15  Zaenab
15  16  Zaenab
16  17  Zaenab
17  18  Zaenab
18  19  Zaenab
19  20  Zaenab

In [23]:
model = LogisticRegression(solver= "lbfgs")
model.fit(df[["x"]], df["y"])
yp = model.predict(df[["x"]])
df["yp"] = yp
df

     x       y      yp
0    1   Sarah   Sarah
1    2   Sarah   Sarah
2    3   Sarah   Sarah
3    4   Sarah   Sarah
4    5   Sarah   Sarah
5    6   Sarah   Sarah
6    7  Zaenab   Sarah
7    8   Sarah   Sarah
8    9  Zaenab   Sarah
9   10  Zaenab   Sarah
10  11   Sarah  Zaenab
11  12   Sarah  Zaenab
12  13  Zaenab  Zaenab
13  14   Sarah  Zaenab
14  15  Zaenab  Zaenab
15  16  Zaenab  Zaenab
16  17  Zaenab  Zaenab
17  18  Zaenab  Zaenab
18  19  Zaenab  Zaenab
19  20  Zaenab  Zaenab

Sarah = 0 ; Zaenab = 1 </br>

- | Predict Sarah | Predict Zaenab
- | - | -
__Actual Sarah__ | TN | FN
__Actual Zaenab__ | FP | TP

#### TP

In [24]:
df[df["y"] == "Zaenab"][df["yp"] == "Zaenab"]

<ipython-input-24-2e3aa7418862>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["y"] == "Zaenab"][df["yp"] == "Zaenab"]

     x       y      yp
12  13  Zaenab  Zaenab
14  15  Zaenab  Zaenab
15  16  Zaenab  Zaenab
16  17  Zaenab  Zaenab
17  18  Zaenab  Zaenab
18  19  Zaenab  Zaenab
19  20  Zaenab  Zaenab

In [28]:
tp = len(df[df["y"] == "Zaenab"][df["yp"] == "Zaenab"].index)
tn = len(df[df["y"] == "Sarah"][df["yp"] == "Sarah"].index)
fn = len(df[df["y"] == "Zaenab"][df["yp"] == "Sarah"].index)
fp = len(df[df["y"] == "Sarah"][df["yp"] == "Zaenab"].index)

tp, fn, fp, tn

<ipython-input-28-b4e0da0d3fb0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tp = len(df[df["y"] == "Zaenab"][df["yp"] == "Zaenab"].index)
<ipython-input-28-b4e0da0d3fb0>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tn = len(df[df["y"] == "Sarah"][df["yp"] == "Sarah"].index)
<ipython-input-28-b4e0da0d3fb0>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fn = len(df[df["y"] == "Zaenab"][df["yp"] == "Sarah"].index)
<ipython-input-28-b4e0da0d3fb0>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fp = len(df[df["y"] == "Sarah"][df["yp"] == "Zaenab"].index)

(7, 3, 3, 7)

In [39]:
print("1. Akurasi :", (tp + tn) / len(df["y"]))
print("2. Error Rate :", (fp + fn) / len(df["y"]))
print("3. TPrate / Recall+ :", tp / (tp + fn))
print("4. FPrate :", fp / (fp + tn))
print("5. TNrate / Recall- :", tn / (fp + tn))
print("6. FNrate :", fn / (tp + fn))
print("7a. Precision+ :", tp / (tp + fp))
print("7b. Precision- :", tn / (tn + fn))
print("8. Prevalence :", (tp + fn) / len(df["y"]))
print("9. Null Error Rate :", (fp + tn) / len(df["y"]))
print("10. F1 Score :", 2 * (((tp / (tp + fp)) * (tp / (tp + fn))) / ((tp / (tp + fp)) + (tp / (tp + fn)))))
print("11. bACC :", ((tp / (tp + fn)) + (tn / (fp + tn))) / 2 )

1. Akurasi : 0.7
2. Error Rate : 0.3
3. TPrate / Recall+ : 0.7
4. FPrate : 0.3
5. TNrate / Recall- : 0.7
6. FNrate : 0.3
7a. Precision+ : 0.7
7b. Precision- : 0.7
8. Prevalence : 0.5
9. Null Error Rate : 0.5
10. F1 Score : 0.7
11. bACC : 0.7

____

In [30]:
from sklearn.metrics import confusion_matrix

In [31]:
confusion_matrix(df["y"], df["yp"])

array([[7, 3],
       [3, 7]])

In [32]:
TP, FN, FP, TN = confusion_matrix(df["y"], df["yp"]).ravel()
TP, FN, FP, TN

(7, 3, 3, 7)

#### Accuracy

In [33]:
model.score(df[["x"]], df["y"])

0.7

In [34]:
from sklearn.metrics import accuracy_score
accuracy_score(df["y"], df["yp"])

0.7

#### Recall+

In [35]:
from sklearn.metrics import recall_score
recall_score(df["y"], df["yp"], pos_label= "Zaenab")

0.7

#### Recall-

In [36]:
recall_score(df["y"], df["yp"], pos_label= "Sarah")

0.7

#### Precision+

In [37]:
from sklearn.metrics import precision_score
precision_score(df["y"], df["yp"], pos_label= "Zaenab")

0.7

#### Precision-

In [38]:
precision_score(df["y"], df["yp"], pos_label= "Sarah")

0.7

#### Balanced Accuracy

In [40]:
from sklearn.metrics import balanced_accuracy_score as bas
bas(df["y"], df["yp"])

0.7

#### F1 Score

In [41]:
from sklearn.metrics import f1_score
f1_score(df["y"], df["yp"], pos_label= "Zaenab")

0.7

____

In [42]:
from sklearn.metrics import precision_recall_fscore_support as rfs
rfs(df["y"], df["yp"])

(array([0.7, 0.7]), array([0.7, 0.7]), array([0.7, 0.7]), array([10, 10]))

In [43]:
from sklearn.metrics import classification_report
classification_report(df["y"], df["yp"])

'              precision    recall  f1-score   support\n\n       Sarah       0.70      0.70      0.70        10\n      Zaenab       0.70      0.70      0.70        10\n\n    accuracy                           0.70        20\n   macro avg       0.70      0.70      0.70        20\nweighted avg       0.70      0.70      0.70        20\n'

In [47]:
print("macro: ", rfs(df["y"], df["yp"], average= "macro"))
print("micro: ", rfs(df["y"], df["yp"], average= "micro"))
print("weighted: ",rfs(df["y"], df["yp"], average= "weighted"))

macro:  (0.7, 0.7, 0.7, None)
micro:  (0.7, 0.7, 0.7, None)
weighted:  (0.7, 0.7, 0.7, None)