## Splitting Dataset : Test & Train

In [1]:
import pandas as pd
import numpy as np

In [7]:
data = {
    "massa" : np.arange(101),
    "harga" : np.arange(101)
}
df = pd.DataFrame(data)
df

     massa  harga
0        0      0
1        1      1
2        2      2
3        3      3
4        4      4
..     ...    ...
96      96     96
97      97     97
98      98     98
99      99     99
100    100    100

[101 rows x 2 columns]

_**Manual Splitting (80% train & 20% test)**_

In [8]:
dataTrain = df.iloc[:81]
dataTest = df.iloc[81:]

In [9]:
dataTrain.tail()

    massa  harga
76     76     76
77     77     77
78     78     78
79     79     79
80     80     80

In [10]:
dataTest.head()

    massa  harga
81     81     81
82     82     82
83     83     83
84     84     84
85     85     85

In [11]:
massaTrain = dataTrain["massa"]
hargaTrain = dataTrain["harga"]
massaTest = dataTest["massa"]
hargaTest = dataTest["harga"]

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(
    (np.array(massaTrain.tolist())).reshape(-1, 1),
    hargaTrain
)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
model.coef_

array([1.])

In [14]:
model.intercept_

-7.105427357601002e-15