In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model as limo

In [11]:
data = {
    "mesin": [1000, 2000, 3000, 4000, 5000],
    "harga": [10, 25, 35, 55, 80]
}
df = pd.DataFrame(data)

model = limo.LinearRegression()
model.fit(df[["mesin"]], df["harga"])

df["hargaLR"] = model.predict(df[["mesin"]])
df

   mesin  harga  hargaLR
0   1000     10      7.0
1   2000     25     24.0
2   3000     35     41.0
3   4000     55     58.0
4   5000     80     75.0

In [40]:
df["2 x hargaLR"] = df["hargaLR"] * 2
df

   mesin  harga  hargaLR  2 x hargaLR
0   1000     10      7.0         14.0
1   2000     25     24.0         48.0
2   3000     35     41.0         82.0
3   4000     55     58.0        116.0
4   5000     80     75.0        150.0

____

### MATRIX EVALUATION

In [21]:
from sklearn.metrics import max_error
print(f'MAX ERROR : {max_error(df["harga"], df["hargaLR"])}')

MAX ERROR : 6.0

In [32]:
from sklearn.metrics import mean_absolute_error as mae
print(f'MAE : {round(mae(df["harga"], df["hargaLR"]),2)}')

MAE : 3.6

In [33]:
from sklearn.metrics import mean_squared_error as mse
print(f'MSE : {round(mse(df["harga"], df["hargaLR"]),2)}')
print(f'RMSE : {np.sqrt(round(mse(df["harga"], df["hargaLR"]),2))}')

MSE : 16.0
RMSE : 4.0

In [34]:
from sklearn.metrics import median_absolute_error as mdae
print(f'MDAE : {round(mdae(df["harga"], df["hargaLR"]),2)}')

MDAE : 3.0

In [35]:
from sklearn.metrics import mean_squared_log_error as msle
print(f'MSLE : {round(msle(df["harga"], df["hargaLR"]),3)}')
print(f'RMSLE : {round(np.sqrt(msle(df["harga"], df["hargaLR"])),3)}')

MSLE : 0.027
RMSLE : 0.163

In [38]:
from sklearn.metrics import r2_score
print(f'R2 Score : {r2_score(df["harga"], df["hargaLR"])}')

R2 Score : 0.9730639730639731