In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_excel("Normalisasi.xlsx", header= 1)
df = df[["TB (m)", "BB (kg)"]].iloc[:10]
df

   TB (m)  BB (kg)
0    0.80       20
1    0.85       25
2    0.92       21
3    0.88       29
4    0.82       30
5    0.86       21
6    0.87       28
7    0.93       27
8    0.81       29
9    1.00       30

<hr>

## Normalisasi

- Normalisasi 
$ \displaystyle x' = \frac {x - x_{min}} {x_{max} - x_{}}